<div>
  <div class="sidenav">
    <a routerLinkActive="bg-light" routerLink="/home" class="font-weight-bold">Dashboard</a>
    <a routerLinkActive="bg-light" routerLink="/result">Search</a>

    <!-- <a routerLinkActive="bg-light" routerLink="/occupancy">Occupancy</a>
        <a routerLinkActive="bg-light" routerLink="/ambience">Ambience</a>
        <a routerLinkActive="bg-light" routerLink="/satisfaction">Satisfaction</a>
        <a routerLinkActive="bg-light" routerLink="/energy">Energy</a>
        <a routerLinkActive="bg-light" routerLink="/finance">Finance</a> -->
  </div>
</div>