<mat-toolbar>
  <div class='header-wrapper'>

    <div class="burger">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class='header-title'>
      <h1>{{ 'Skiply' | uppercase }} </h1>
    </div>
  </div>
</mat-toolbar>


<mat-menu #menu="matMenu">
  <ul>
    <li routerLink='/campaign'>
      <button mat-menu-item>Campaign</button>
    </li>
    <li routerLink='/result'>
      <button mat-menu-item>Result</button>
    </li>
    <li routerLink="/home">
      <button mat-menu-item>Battery</button>
    </li>
  </ul>
</mat-menu>