<div class="contener">
  <div *ngIf="!selectedCampaign">
    <h1>{{ title }}</h1>
    <img width="300" alt="Reso Logo" src="../../../../assets/img/resologo.png">

    <h2>Welcome to Feedback </h2>

    <!-- Campaign list -->
    <div class="table table-text" *ngFor="let campaign of campaigns" [class.selected]="campaign === selectedCampaign"
      (click)="onSelect(campaign)">
      <span class="badge"> {{campaign.id}}</span><span class="campaignname">{{campaign.name}}</span>
      <!-- <button class="resultbutton" (click)="resultgate()"> Results></button></div> -->
      <a routerLink="/result"><button class="resultbutton" (click)="resultgate()"> Results></button></a>
    </div>



    <!-- Possibility in app -->
    <div *ngIf=" !selectedCampaign">

      <ul>
        <li>
          <h2><a routerLink='/campaign'>Create a new campaign</a></h2>
        </li>
        <li>
          <h2><a routerLink='/battery'>Campaign list</a></h2>
        </li>
        <li>
          <h2><a routerLink='/result'>Get your result</a></h2>
        </li>
      </ul>

    </div>
  </div>