<div class="contener">
  <div *ngIf="!selectedCampaign">
    <h1>{{ title }}</h1>
    <img width="300" alt="Reso Logo" src="../../../../assets/img/resologo.png">

    <h2>Welcome to Feedback </h2>

    <!-- Campaign list -->
    <div class="campaigns campaigns-text" *ngFor="let campaign of campaigns"
      [class.selected]="campaign === selectedCampaign" (click)="onSelect(campaign)">
      <span class="badge"> {{campaign.id}}</span>{{campaign.name}}
    </div>
  </div>

  <!-- Campaign details after click -->
  <div *ngIf="selectedCampaign">
    <button (click)="selectedCampaignRaz()">Retour</button>

    <h2>{{selectedCampaign.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedCampaign.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedCampaign.name" placeholder="name" />
      </label>
      <h2>Campaign places </h2>
      <h2>Linked sensors</h2>

      <!-- Next button -->
      <button (click)="resultway()">Results</button>

      <a routerLink="/result"><button (click)="resultway()"> Results of this campaign></button></a>
    </div>



  </div>

  <!-- Possibility in app -->
  <div *ngIf=" !selectedCampaign">

    <ul>
      <li>
        <h2><a routerLink='/campaign'>Create a new campaign</a></h2>
      </li>
      <li>
        <h2><a routerLink='/battery'>Campaign list</a></h2>
      </li>
      <li>
        <h2><a routerLink='/result'>Get your result</a></h2>
      </li>
    </ul>

  </div>
</div>