<!--The content below is only a placeholder and can be replaced.-->
<div class="contener">
  <h1>
    {{ title }}
  </h1>
  <img width="300" alt="Reso Logo" src="../../../../assets/img/resologo.png">

  <h2>Welcome to skiply everybody! </h2>

  <ul>
    <li>
      <h2><a routerLink='/campaign'>Campaign</a></h2>
    </li>
    <li>
      <h2><a routerLink='/result'>Result</a></h2>
    </li>

  </ul>

  <!-- Pick a date  -->
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

  <!-- Choose a campaign -->

  <app-autocomplete> Pick a campaign </app-autocomplete>

</div>