body {
    font-size: 50px;
    text-align: center;
}

.battery {
    display: inline-block;
    position: relative;
    color: #444;
}

.battery .animate {
    width: 0%;
    position: absolute;
    left: 0;
    top: 3px;
    overflow: hidden;
    color: #27ae60;
    z-index: -1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.battery:hover .animate {
    width: 100%;
}